@model IEnumerable<Puesto>
@{
    ViewBag.Title = "Galeria de Fotos de puestos 5 down por comentarios";
}
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Crea Nuevo Puesto", "Create")
</p>

@Html.Action("_PhotoGalleryDown5")
